.language-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
  }
  
  .language-modal-content {
    width: 820px;
    height: 620px;
    border: 1px solid #a7c5fa;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }
  
  .close-button {
    position: fixed;
    top: 95px;
    right: 530px;
    background-color: transparent;
    color: white;
    z-index: 999;
  }
  
  .selected-language,
  .selected-language-details,
  .all-languages {
    background-color: #e9ebee;
    padding: 12px;
  }
  
  .languages-container {
    display: flex;
    padding: 12px;
    overflow-y: auto;
    max-height: calc(100% - 70px);
  }
  
  .language-column {
    flex-direction: column;
  }
  
  .language-item {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    background-color: transparent;
  }
  
  .language-item:hover {
    background-color: #e3edff;
  }
  
  .language-item img {
    height: 20px;
    width: 20px;
    margin-right: 15px;
  }
  
  /* Customize scrollbar */
  .languages-container::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  .languages-container::-webkit-scrollbar-thumb {
    background-color: #d4d4d4; /* Set the color of the scrollbar thumb */
    border-radius: 8px; /* Set the border radius of the scrollbar thumb */
  }
  
  .languages-container::-webkit-scrollbar-thumb:hover {
    background-color: #a9a9a9; /* Set the color of the scrollbar thumb on hover */
  }
  
  .languages-container::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the scrollbar track */
  }
  
  .languages-container::-webkit-scrollbar-track:hover {
    background-color: transparent; /* Set the color of the scrollbar track on hover */
  }
  
  